button{
  border: none;
  background: none;
}
.sidebar-logo{
  width: 50%;
}
.overplay{
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  z-index: 6;
}
.table-btn{
  margin-right: 10px;
  padding: 0px 10px;
  border-radius:5px;
}
.apply{
  color: white;
  background-color: rgb(100, 247, 100);
}
.cancel{
  color: white;
  background-color: rgb(255, 67, 67);
}
.hide{
  color: white;
  background-color: rgb(165, 165, 165);
}
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
}

.form-image{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-image img{
  width: 100%;
  height: 60%;
  object-fit:cover;
  border-radius: 10px;
}
.form-image label{
  cursor: pointer;
  background-color: #4e73df;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
}
.form-image input{
  visibility: hidden;
}
.form-infor{
  position: relative;
  overflow:scroll;
  padding-left: 10px;
  padding-top: 30px;
  width: 65%;
}
.form-infor::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.form-infor::-webkit-scrollbar-thumb{
  background: #4e73df;
}
.form-infor h2{
  color: black;
  margin-left: 20px;
}
.form-infor h2::after{
    content: '';
    width: 100%;
    border-bottom: solid 2px #4e73df;
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 1;
}
.closeBtn{
  position: absolute;
  right: 10px;
  font-size: 25px;
  font-weight: 700;
}
.closeBtn:hover{
  color: red;
}
.form-input{
  width:100%;
  margin: auto;
  position: relative;
}
.form-input-div{
  margin-top: 25px;
}
.form-input-div label{
  width: 120px;
}
.form-input-div input, .form-input-div select{
  padding: 5px 10px;
  outline: none;
  width: 200px;
  border: none;
  position: relative;
  box-shadow: 0px 2px 5px 0px  rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.form-input-btn{
  background: #4e73df;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.form-input-table{
  width: 100%;
  margin-top: 15px;
}
.form-input-table thead tr th:nth-child(2){
  text-align: center;
}
.form-input-table tbody{
  padding-top: 200px;
}
.table-result{
  border-bottom: 1px solid #707070;
}
.table-result td:nth-child(2){
  text-align: center;
}
.table-result td{
  padding-top: 15px;
  padding-bottom: 10px;
}
.table-result td i{
  cursor: pointer;
}
.minus-btn{
  padding-right: 10px;
}
.plus-btn{
  padding-left: 10px;
}
.table-result td:nth-child(4):hover{
  color: rgb(247, 64, 64);
}

.detailSite-div{
  margin: 10px 10px;
}
.detailSite-div input, .detailSite-div select{
  margin-left: 10px;
  padding: 7px 0px 7px 5px;
  border: none;
  width: 50%;
  outline: none;
}
.detailSite-div input:focus{
  border-bottom:1px solid #4e73df ;
}
.detail-img{
  display: inline-block;
  position: relative;
  height: 150px;
  width: 150px;
  margin-right: 10px;
}
.detail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-img button{
  position: absolute;
  top: 0;
  right: 0;
}
.btn-addImg{
  color: white;
  background-color: #707070;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  padding: 10px 0;
  transition: ease-in 0.1s;
}
.btn-addImg:hover{
  color: black;
  background-color: white;
}